<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        #deleteButton {
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 1000;
            /* Ensure button is on top of map */
        }

        .leaflet-container {
            font-size: 1rem;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script> <!-- 确保正确加载 QWebChannel -->
</head>

<body>
    <div id="map"></div>
    <button id="deleteButton" class="btn btn-danger">Delete All Markers</button>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var map = L.map("map", {
                center: [30.875193, 121.899973],
                crs: L.CRS.EPSG3857,
                zoom: 18,
                zoomControl: true,
                preferCanvas: false,
            });

            L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution: "&copy; OpenStreetMap contributors",
                detectRetina: false,
                maxNativeZoom: 19,
                maxZoom: 19,
                minZoom: 0,
                noWrap: false,
                opacity: 1,
                subdomains: "abc",
                tms: false
            }).addTo(map);

            var markers = []; // Array to keep track of markers

            map.on('click', function (e) {
                var lat = e.latlng.lat.toFixed(6);
                var lng = e.latlng.lng.toFixed(6);

                var new_mark = L.marker(e.latlng).addTo(map);
                new_mark.dragging.enable();
                new_mark.bindPopup(`Latitude: ${lat}, Longitude: ${lng}`).openPopup();

                markers.push(new_mark); // Add marker to array

                if (window.pywebview) {
                    window.pywebview.receiveCoordinates(parseFloat(lat), parseFloat(lng));
                } else {
                    console.log(`Coordinates: Latitude ${lat}, Longitude ${lng}`);
                }
            });

            document.getElementById("deleteButton").addEventListener("click", function () {
                markers.forEach(function (marker) {
                    map.removeLayer(marker);
                });
                markers = []; // Clear the array
            });

            // Initialize QWebChannel
            new QWebChannel(qt.webChannelTransport, function (channel) {
                window.pywebview = channel.objects.pywebview;
            });
        });
    </script>
</body>

</html>